.list {
    display: grid;
    grid-template-columns: 272px 272px;
    justify-content: space-between;
}

.container {
    height: 700px;
    overflow-y: scroll;
}

.center {
    text-align: center;
}