.list {
    display: grid;
    grid-template-columns: 272px 272px;
    justify-content: space-between;
}

.img {
    width: 240px;
    height: 120px;
}

.price {
    display: flex;
    justify-content: center;
}

.item {
    position: relative;
}

.container {
    height: 700px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb  {
    background: #8585AD;  
  }

  ::-webkit-scrollbar-track {
    background: #2F2F37;  
  }