.wrapper {
    width: 1240px;
    display: grid;
    grid-template-columns: 590px 590px;
    justify-content: space-between;
}

.stat_container {
    display: flex;
    flex-direction: row;
}

.ids_container {
    display: flex;
    flex-direction: row;
}

.done_id {
    color: #00CCCC;
}