.wrapper {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_block {
    display: flex;
    flex-direction: row;
}

.link {
    color: #4C4CFF;

}