.container {
    display: grid;
    width: 1240px;
    /* grid-template-columns: 320px 600px; */
    grid-template-columns: 320px 660px;
}

.menu_item {
    width: 320px;
    height: 60px;
    line-height: 60px;
}

.button {
    cursor: pointer;
}

.active {
    background-color: red;
}