.list_container {
    height: 465px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.total_price {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container {
    border: 1px solid grey;    
    height: 775px;
}

.list_item {    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: flex-end;
}