.list_item {
    display: flex;
    align-items: center;
}

.list_container {
    height: 650px;
    overflow-y: scroll;
}

.total_price {
    display: flex;
    align-items: center;
    justify-content: end;
}