.done {
    color: #00CCCC;
}

.container {
    height: 500px;
    overflow-y: auto;
}

.ingredient_preview {
    box-sizing: border-box;
    border: 2px solid #801AB2;

    position: relative;
    width: 64px;
    height: 64px;
    left: 0px;
    top: 0px;
    text-align: center;

    /* interface/bg */

    background: #131316;
    border-radius: 100px;
}

.image {
    position: relative;
    width: 120px;
    left: -30px;
}

.ingredient_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ingredients_container {
    height: 300px;
    overflow-y: auto;
}

.total_price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.title {
    display: flex;
    justify-content: center;
}